---
import Layout from "../layouts/Layout.astro";

import Content from "../components/Content.astro";
import Title from "../components/Title.astro";

import { Image } from "astro:assets";
import AvatarImage from "../assets/lokus.jpeg";
---

<Layout hasHomeLink={false}>
    <Content>
        <Title> Lokusok </Title>

        <div class="about">
            <div class="about__info">
                <div class="text-wrapper">
                    <p class="text">Fullstack web developer</p>
                    <p class="text">
                        I am primarily focused web development. In my work I am
                        using React and Vue frameworks on frontend, Laravel on
                        backend. Also intereseted in metaframeworks and digging
                        deeper into internals of JS and PHP :)
                    </p>
                </div>

                <div class="text-wrapper">
                    <h3 class="text-wrapper__title">
                        Very cool title in future will be here
                    </h3>

                    <p class="text">
                        As my qualifications grow, the text here will be
                        included and updated, but for now here will be tech
                        stack that I primarily used:
                    </p>

                    <p class="text">
                        React, Vue, JS/TS, Node.js, PHP, Laravel, Docker.
                    </p>

                    <p class="text">
                        Full techs of what I know and my portfolio you can find
                        in my account on <a
                            class="text__link"
                            href="https://github.com/lokusok"
                            target="_blank"
                        >
                            GitHub
                        </a>
                    </p>
                </div>
            </div>

            <div class="person">
                <div class="person__row">
                    <Image
                        class="person__avatar"
                        src={AvatarImage}
                        alt="Lokusok"
                    />

                    <a
                        href="mailto:lokusok.dev@protonmail.com"
                        class="person__btn">Let's talk</a
                    >
                </div>
            </div>
        </div>
    </Content>
</Layout>

<style>
    .text {
        color: rgba(255, 255, 255, 0.8);
        line-height: 30px;
        font-weight: 300;
        font-size: 20px;
    }

    .text:not(:last-of-type) {
        margin-bottom: 20px;
    }

    .about {
        margin-top: 30px;
        display: flex;
        column-gap: 80px;
        padding-bottom: 80px;
    }

    .person__avatar {
        border-bottom-left-radius: 64px;
        border-bottom-right-radius: 64px;
        border-bottom-style: solid;
        border-bottom-width: 1.25px;
        border-left-color: rgba(255, 255, 255, 0.4);
        border-left-style: solid;
        border-left-width: 1.25px;
        border-right-color: rgba(255, 255, 255, 0.4);
        border-right-style: solid;
        border-right-width: 1.25px;
        border-top-color: rgba(255, 255, 255, 0.4);
        border-top-left-radius: 64px;
        border-top-right-radius: 64px;
        border-top-style: solid;
        border-top-width: 1.25px;
        max-width: 256px;
        max-height: 256px;
    }

    .person__row {
        display: flex;
        flex-direction: column;
        row-gap: 48px;
        align-items: center;
        position: sticky;
        top: 20px;
    }

    .person__btn {
        background: rgb(234, 88, 12);
        color: #fff;
        font-weight: 400;
        font-size: 20px;
        text-decoration: none;
        padding: 16px 32px;
        border-radius: 12px;
        transition: opacity ease 0.15s;
    }

    .person__btn:hover {
        opacity: 0.85;
    }

    .person__btn:active {
        opacity: 0.75;
        transition: opacity ease 0.1s;
    }

    .text-wrapper:not(:last-of-type) {
        margin-bottom: 40px;
    }

    .text-wrapper__title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 30px;
        line-height: 36px;
    }

    .text__link {
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        position: relative;
        transition: opacity ease 0.2s;
    }

    .text__link:hover {
        opacity: 0.8;
    }

    .text__link:active {
        opacity: 0.7;
    }

    .text__link::before {
        content: "";
        background-color: rgba(255, 255, 255, 0.6);
        position: absolute;
        left: 50%;
        transform: translateX(-54%);
        bottom: -2px;
        display: block;
        width: 90%;
        height: 2px;
    }

    @media (max-width: 1048px) {
        .about {
            flex-direction: column;
        }

        .person__avatar {
            display: none;
        }

        .person__row {
            align-items: start;
            padding-top: 40px;
        }
    }
</style>
