---
interface Props {
    spaceTop?: string;
    maxWidth?: string;
}

const { spaceTop = "50px", maxWidth } = Astro.props;
---

<div class="content">
    <slot />
</div>

<style define:vars={{ spaceTop, maxWidth }}>
    .content {
        padding-top: var(--spaceTop);
        max-width: var(--maxWidth);
        margin: 0 auto;
    }
</style>
