---
interface Props {
    slug: string;
    title: string;
    description: string;
    createdAt: string;
}

const { slug, title, description, createdAt } = Astro.props;
---

<div class="event-card">
    <div class="event-card__row">
        <div class="event-card__header">
            <h3 class="event-card__title">{title}</h3>
        </div>

        <div class="event-card__body">
            <p class="event-card__description">
                {description}
            </p>
        </div>

        <div class="event-card__footer">
            <div class="event-info">
                <a class="event-info__link" href={slug}>
                    <span>Read article</span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16"
                        fill="currentColor"
                        class="event-info__link-icon"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M2 8a.75.75 0 0 1 .75-.75h8.69L8.22 4.03a.75.75 0 0 1 1.06-1.06l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 0 1-1.06-1.06l3.22-3.22H2.75A.75.75 0 0 1 2 8Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
                <span class="event-info__separator"></span>
                <span class="event-info__date"> Published on {createdAt} </span>
            </div>
        </div>
    </div>
</div>

<style>
    .event-card {
        position: relative;
        border: 2px solid rgba(255, 255, 255, 0.4);
        transition: background-color ease 0.2s;
    }

    .event-card:hover {
        background-color: rgb(17, 17, 17);
    }

    .event-card:active {
        background-color: rgb(35, 35, 35);
    }

    .event-card__row {
        padding: 2.5rem;
    }

    .event-card__header {
        margin-bottom: 1rem;
    }

    .event-card__title {
        font-size: 20px;
        font-weight: 500;
    }

    .event-card__body {
        margin-bottom: 2.5rem;
    }

    .event-card__description {
        color: #fffc;
        font-weight: 400;
        line-height: 24px;
    }

    .event-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .event-info__link {
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .event-info__link::after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .event-info__link-icon {
        width: 1rem;
        height: 1rem;
    }

    .event-info__date {
        color: #fffc;
    }

    .event-info__separator {
        display: block;
        width: 2.5px;
        height: 2.5px;
        background: #fff;
        border-radius: 4px;
    }

    @media (max-width: 1023px) {
        .event-info {
            justify-content: start;
            gap: 20px;
        }
    }

    @media (max-width: 600px) {
        .event-info__date,
        .event-info__separator {
            display: none;
        }
    }
</style>
