<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <p class="footer__copy">
                &copy; {new Date().getFullYear()} Lokusok
            </p>
        </div>
    </div>
</footer>

<style>
    .footer__row {
        padding: 48px 0;
    }

    .footer__copy {
        color: rgba(255, 255, 255, 0.6);
        font-weight: 300;
        font-size: 16px;
    }
</style>
