---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Title.astro";
import Content from "../../components/Content.astro";
---

<Layout>
  <Content>
    <Title subtitle="Check out some of the events related to me!">
      Events
    </Title>
  </Content>
</Layout>
